.resizeLine {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  background-color: rgb(236, 239, 241);
  z-index: 999;
  width: 12px;
  height: 100%;
  cursor: ew-resize;
}

.right {
  right: 0;
}

.left {
  left: 0;
}
