.tag {
  background-color: var(--y-error-block);
  color: var(--y-grey-0);
  border-radius: 4px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
