.item {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  padding: 12px 0;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}
