.wrapper {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 0.2s ease-out;
  display: flex;
  flex-direction: column;
}

.fixedRight {
  display: none;
  position: sticky;
  border: none;
}

.isOpen {
  display: flex;
  transform: translateX(0);
}

.header {
  padding: 24px 24px 24px 36px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 24px 24px 24px 36px;
  height: 100%;
  overscroll-behavior: contain;
  overflow-wrap: break-word;
}

.loaderBlock {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeIcon {
  cursor: pointer;
  color: var(--y-sky-50);
  transition: all 0.1s ease-in;
}

.closeIcon:hover {
  color: var(--y-pending-hover);
}

.iconActive {
  color: var(--y-interactive-default);
}
