.label {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 22px;
  width: fit-content;
  margin-right: 0;
  user-select: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 20px;
  max-width: 20px;
  background: none !important;
  border: 0 !important;
  color: white;
  margin-left: 4px;
}
