.ul {
  padding: 4px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 132px;
  gap: 12px;
}

.ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.value {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--y-grey-50);
}
