.window {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

.windowBlock {
  z-index: 9999;
}

.windowContent {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  box-shadow:
    0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.windowContentBlock {
  padding: 20px 24px;
}

.windowBar {
  height: 50px;
  border-bottom: 1px solid var(--y-grey-20);
}

.noBorder {
  border-bottom: none;
}
