.wrapper {
  display: flex;
  flex-direction: column;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.list li {
  list-style: none;
}

@media screen and (max-width: 1600px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .list {
    grid-template-columns: 1fr;
  }
}
