.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.avatarBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 100%;
  position: relative;
  width: 180px;
  min-height: 180px;
}

.editBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 100%;
  position: relative;
}

.wrapperBtns {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  gap: 14px;
  padding: 8px;
  border-radius: 8px;
}

.btns button {
  width: 180px;
  cursor: pointer;
}

.imageView {
  display: flex;
  border-radius: 100%;
  width: 180px;
  overflow: hidden;
}
